* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

:root {
    --black: #000;
    --dark: #1a1a1a;
    --dark1: #2f2f2f;
    --dark2: #3b3b3b;
    --dark3: #585858;
    --gradient: linear-gradient(145deg, var(--black), var(--dark));
    --gradient2: linear-gradient(90deg, var(--dark), var(--black), var(--dark));
    --accent: #00cc44;
    --accenth: #0fff5f;
    --accentg: rgba(0, 243, 255, 0.15);
    --green: #28a745;
    --red: #dc3545;
    --yellow: #cedc35;
    --redh: #f75a6a;
    --blue: #2e89ff;
    --blueh: #6dacff;
    --text: #fff;
    --text2: #a0a0a0;
}